body {
    margin: 0;
    font-family: Smythe;
} 

/* layout */

.item-container,
.order-item,
.order-total {
    padding: 0px 20px;
}

.container {
    max-width: 320px;
    margin: 0px auto;
}

.header {
    background-image: url("images/header-image.png");
    background-size: cover;
    height: 90px;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc; 
}

.item-text-container {
    flex-grow: 1;
    padding-left: 10px; 
}

.order-item {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 5px;
}

.order-item-details {
    display: flex;
    gap: 5px;
}

.order-total-container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.order-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.order-title {
    display: none;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 280px;
    width: 290px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: whitesmoke;
}

.close-modal-button-container {
    margin: 5px;
    text-align: right;
}

.modal-content {
    margin-top: 20px;
    text-align: center;
}

/* typography */

h1,
h2 {
    color: #FFF; 
}

h1,
.item-name,
.item-price,
.order-item-name,
.order-item-price {
    margin: 0;
}

.item-ingredients,
.item-price {
    font-size: 10px;
}

h2,
.modal-title {
    font-size: 12px;
}

p {
    font-size: 15px;
}

h1 {
    padding: 15px 0px 3px 20px;
    font-size: 20px;  
}

h2 {
    margin: 0px 0px 0px 20px;
}

.item-ingredients {
    margin: 3px 0px 5px;
    color: #8B8B8B;
}

.order-title {
    margin: 20px 0px 25px;
}

.modal-title {
    font-family: Verdana;
    font-weight: 700;
    margin: 10px 0px;
}

/* images */

.item-emoji {
    font-size: 41px;
}

/* buttons and input */

button,
input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover,
button:focus {
    opacity: 0.5;
    cursor: pointer;
}

.remove-button,
.order-button,
.pay-button {
    border: none;
}

.order-button,
.pay-button {
    background: #16DB99;
    border-radius: 3px;
    color: #FFF;
    font-weight: 700;
    padding: 12px 0px; 
    font-size: 9px;
}

.add-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    background: transparent;
    color: #3C3C3C;
    font-weight: lighter;
}

.remove-button {
    color: #BBB;
    font-size: 6px;
    background: transparent;
}

.order-button {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.pay-button {
    width: 95%;
    margin-top: 20px;
}

input {
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid #757575;
    border-radius: 3px;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    width: 90%;
}